.brightness-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black; /* 设置背景颜色为黑色 */
    pointer-events: none; /* 确保该元素不会阻止用户交互 */
    z-index: 9999; /* 确保该元素位于最上层 */
    opacity: 0; /* 初始透明度为0，即完全透明 */
}