        pre {
            white-space: pre; /* 保持预格式化文本的原始格式，不换行 */
            word-wrap: normal; /* 取消单词在边界处的换行 */
            overflow-x: auto; /* 水平方向超出时显示滚动条 */
            max-width: 100%; /* 设置最大宽度，防止溢出 */
           max-height: 1000px; /* 设置最大高度，防止内容过长 */
        }
#themeToggle {
    position: absolute;
    top: 0;
    right: 0;
}
        body {  
            font-family: Arial, sans-serif;  
        }  
        .title {  
            text-align: center;  
            font-size: 24px;  
            margin-bottom: 20px;  
        }  
        .subtitle {
            font-size: 16px;
            color: #666;
            text-indent: 1em; /* 这里设置为3em，相当于3倍的字体大小，你可以根据需要调整这个值 */
        }
        .content {  
            background-color: #f2f2f2;  
            padding: 20px;  
            position: relative;  
            border-radius: 20px; /* 这里可以根据需要调整圆角的大小 */
        }
        .footer {  
            text-align: center;  
        }  
        #tips {
            position: fixed;
            bottom: 0; /* 紧贴底部 */
            right: 0; /* 紧贴右侧 */
            color: black ;
            background-color:rgba(255, 255, 255, 0.8);
            padding: 5px;
            font-size: 14px;
            text-align: right; /* 文本靠右对齐 */
            /* 添加圆角，这里设置为10px，您可以根据需要调整大小 */
            border-top-left-radius: 10px;
            }
@keyframes fadeInBlur {
    0% {
        opacity: 0;
        filter: blur(20px);
        transform: translateY(50px); /* 开始时代码框在下方 */
    }
    50% {
        opacity: 1;
        filter: blur(0);
    }
    100% {
        transform: translateY(0); /* 结束时代码框回到原位 */
    }
}
/* 应用动画到源代码框 */
#sourceCode {
    animation: fadeInBlur 1s ease-in-out forwards; /* 动画持续时间、缓动函数和填充模式 */
}  
/* 自定义Python函数的样式 */
.hljs-keyword {
    color: #81E8EB;
}
/* 自定义变量的样式 */
.custom-variable {
    color: #F0C314 !important; /* 或者使用十六进制颜色代码，例如 #FFA500 */
}

/* 自定义字符串的样式 */
.hljs-string {
    color: green !important; /* 设置为蓝色，并且提高优先级 */
}
.hljs-comment {
    color: #EB64DE !important;
}
pre, code {
    font-size: 16px; /* 设置字体大小为14像素 */
}

/* 深色模式的全局样式 */
/* 深色模式的全局样式 */
body.dark-mode {
    background-color: #1a1a1a; /* 深色背景 */
    color: #f4f4f4; /* 白色文本 */
}

/* 深色模式下的标题样式 */
body.dark-mode .title {
    color: #f4f4f4; /* 白色标题 */
}

/* 深色模式下的副标题样式 */
body.dark-mode .subtitle {
    color: #999; /* 较浅的灰色副标题 */
}

/* 深色模式下的内容区域样式 */
body.dark-mode .content {
    background-color: #3a3f4b; /* 深色背景 */
    border: 1px solid #3a3f4b; /* 深色边框 */
}

/* 深色模式下的页脚样式 */
body.dark-mode .footer {
    color: #f4f4f4; /* 白色页脚文本 */
}

/* 深色模式下的代码框样式 */
body.dark-mode pre {
    background-color: #3a3f4b; /* 深色背景 */
    border-color: #3a3f4b; /* 深色边框 */
}

/* 深色模式下的代码样式 */
body.dark-mode code {
    color: #f4f4f4; /* 白色代码文本 */
}
.dark-mode #tips {
    background-color: rgba(18, 18, 18, 0.6);
    color: #f4f4f4;
}
