body {  
    background-image: url('https://i-720.wwentua.com:446/01201100158975537bb/2024/01/20/e33c19f2a794057ed04ddf66488d594b.db?st=HOdcRh9FEqG6GOAEr02rKQ&e=1705723262&b=VVMMfgdiA2MEf1BiAjA_c&fi=158975537&pid=118-125-181-149&up=2&mp=0&co=0');  /* 替换为你的图片路径 */  
    background-repeat: no-repeat;  
    background-size: cover;  /* 使背景图片覆盖整个页面 */  
}
