        pre {
            white-space: pre; /* 保持预格式化文本的原始格式，不换行 */
            word-wrap: normal; /* 取消单词在边界处的换行 */
            overflow-x: auto; /* 水平方向超出时显示滚动条 */
            max-width: 100%; /* 设置最大宽度，防止溢出 */
           max-height: 1000px; /* 设置最大高度，防止内容过长 */
        }
        body {  
            font-family: Arial, sans-serif;  
        }  
        .title {  
            text-align: center;  
            font-size: 24px;  
            margin-bottom: 20px;  
        }  
        .subtitle {
            font-size: 16px;
            color: #666;
            text-indent: 1em; /* 这里设置为3em，相当于3倍的字体大小，你可以根据需要调整这个值 */
        }
        .content {  
            background-color: #f2f2f2;  
            padding: 20px;  
            position: relative;  
            border-radius: 20px; /* 这里可以根据需要调整圆角的大小 */
        }
        .footer {  
            text-align: center;  
        }  
@keyframes fadeInBlur {
    0% {
        opacity: 0;
        filter: blur(20px);
        transform: translateY(50px); /* 开始时代码框在下方 */
    }
    50% {
        opacity: 1;
        filter: blur(0);
    }
    100% {
        transform: translateY(0); /* 结束时代码框回到原位 */
    }
}
/* 应用动画到源代码框 */
#sourceCode {
    animation: fadeInBlur 1s ease-in-out forwards; /* 动画持续时间、缓动函数和填充模式 */
}  
/* 自定义Python函数的样式 */
.hljs-keyword {
    color: #81E8EB;
}
/* 自定义变量的样式 */
.custom-variable {
    color: #F0C314 !important; /* 或者使用十六进制颜色代码，例如 #FFA500 */
}

/* 自定义字符串的样式 */
.hljs-string {
    color: green !important; /* 设置为蓝色，并且提高优先级 */
}
.hljs-comment {
    color: #EB64DE !important;
}
pre, code {
    font-size: 16px; /* 设置字体大小为14像素 */
}