body {  
    background-image: url('https://112-28-188-230.pd1.123pan.cn:30443/download-cdn.123pan.cn/123-596/30946418/1815614102-0/30946418014d5b017e5c515e08cfde54/c-m23?v=5&t=1705793762&s=1705793762344680a7e4c9bfa91dab1d6b9da3d7c5&r=KQCSDA&bzc=1&bzs=1815614102&filename=Tree.png&x-mf-biz-cid=6941308e-56fd-401a-940c-dbbce16da34f-a0d664&auto_redirect=0&ndcp=1&cache_type=1&xmfcid=d5f4121f-e676-44ed-94db-742cb4bd6d6b-1-abf611255');  /* 替换为你的图片路径 */  
    background-repeat: no-repeat;  
    background-size: cover;  /* 使背景图片覆盖整个页面 */  
}
